/*
 * Login:xtetau00
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu (napr. bubliny v sekci #refs)
 */

body
{
    margin: 0;
    padding: 0;
}

.content
{
    font-size: 14px;
    font-family: "PT sans", serif;
    width: 100vw;
    min-width: 768px;
    max-width: 1200px;
    line-height: 1.7;
    margin: 60px auto 80px;
    padding: 0 20px;
}
h3
{
    font-size: 24px;
}

#about, #price
{
    background-color: #f7f7f7;
}

/* HEADER START */
#header
{
    position: relative;
    display: flex;
    background-image:url("../img/header.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
    width: auto;
    min-width: inherit;
    max-width: inherit;
    min-height: 400px;
    color:steelblue;
}
#header-menu
{
    min-width: inherit;
    max-width: inherit;
    display:grid;
    margin-top: -50px;
    grid-template-columns: minmax(486px, 1fr) 1fr;
    grid-template-rows: repeat(2, 50px);
    column-gap: 10px;
    color: steelblue;
    text-decoration: none;
}
#header-menu a:hover
{
    color: white;
}
#contacts
{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    gap: 10px;
}
#contacts i, #contacts a
{
    text-decoration: none;
    color: #bfbfbf;
    margin-right: 5px;
}
#phone
{
    color:#bfbfbf;
}
#phone i, #mail i
{
    color:steelblue;
}
#networks a
{
    font-size: 18px;
    text-decoration: none;
    color: steelblue;
}
#networks
{
    display: flex;
    justify-content: right;
    gap: 10px;
    align-items: flex-end;
    order: 4;
}
#contacts, #contacts i, #contacts a
{
    text-align: left;
}

#header-title h1
{
    font-size: 64px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

#logo
{
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    font-size: 24px;
    color: steelblue;
    font-family: "Special Elite", serif;
    text-decoration: none;
}
#logo a
{
    text-decoration: none;
    color:steelblue;
}

#navigation ul
{
    margin-left: 20px;
    padding: 0;
}
#navigation li
{
    text-transform: uppercase;
    display: inline-block;
}

#navigation a
{
    padding: 5px 15px;
    text-decoration: none;
    color:#bfbfbf;
}

#navigation a:hover
{
    border: 1px solid steelblue;
}

#header-title
{
    position: absolute;
    top: 66%;
}

#get-started a
{
    transition: .5s;
    margin-left: 20px;
    background-color: black;
    color: #bfbfbf;
    border: 2px solid #bfbfbf;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    border-radius: 15px;
}

#get-started a:hover
{
    color: white;
    background-color: steelblue;
    font-weight: bold;
}

/* HEADER END */

/* SERVICES START */

#services .content
{
    display: block !important;
}
#services h2
{
    text-align: center;
    font-size: 40px;
}

#services div
{
    display: grid;
    gap: 10px;
    grid-template-columns: 300px 300px;
    justify-content: center;
}
.services-column, .services-card
{
    display: block !important;
    border: 1px solid #bfbfbf;
}
.services-card div
{
    display: block !important;
    size: 50px;
}

/* SERVICES END */

/* ABOUT START */

#about .content
{
    display: grid;
    grid-template-columns: 1fr;
}

#about .about-item img
{
    float: left;
    width: 40%;
    margin-right: 80px;
}
#about .about-item img:hover
{
    width: 50%;
}
#about .about-item:nth-of-type(2) img
{
    margin-left: 80px;
    margin-right: 0;
    float: right;
}

.about-item
{
    margin: 40px 0;
}

/* ABOUT END */

#map
{
    height: 400px;
}

/* FOOTER START */

#footer
{
    color: #bfbfbf;
    background-color: black;
}

#footer a
{
    text-decoration: none;
    color:steelblue;
}

/* FOOTER END */
