/*
 * Login:xtetau00
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu (napr. bubliny v sekci #refs)
 */

body
{
    margin: 0;
    padding: 0;
}

.content
{
    font-size: 14px;
    font-family: "PT sans", serif;
    min-width: 768px;
    max-width: 1200px;
    line-height: 1.7;
    margin: 60px auto 80px;
    padding: 0 20px;
}
h3
{
    font-size: 24px;
}

#about, #price
{
    background-color: #f7f7f7;
}

/* HEADER START */
#header
{
    position: relative;
    background-image:url("../img/header.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
    min-height: 400px;
    color:steelblue;
}
#header-menu
{
    min-width: inherit;
    max-width: inherit;
    display:grid;
    margin-top: -50px;
    grid-template-columns: minmax(486px, 1fr) 1fr;
    grid-template-rows: repeat(2, 50px);
    column-gap: 10px;
    color: steelblue;
    text-decoration: none;
}
#header-menu a:hover
{
    color: white;
}
#contacts
{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    gap: 10px;
}
#contacts i, #contacts a
{
    text-decoration: none;
    color: #bfbfbf;
    margin-right: 5px;
}
#phone
{
    color:#bfbfbf;
}
#phone i, #mail i
{
    color:steelblue;
}
#networks a
{
    font-size: 18px;
    text-decoration: none;
    color: steelblue;
}
#networks
{
    display: flex;
    justify-content: right;
    gap: 10px;
    align-items: flex-end;
    order: 4;
}
#contacts, #contacts i, #contacts a
{
    text-align: left;
}

#header-title h1
{
    font-size: 64px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

#logo
{
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    font-size: 24px;
    color: steelblue;
    font-family: "Special Elite", serif;
    text-decoration: none;
}
#logo a
{
    text-decoration: none;
    color:steelblue;
}

#navigation ul
{
    margin-left: 20px;
    padding: 0;
}
#navigation li
{
    text-transform: uppercase;
    display: inline-block;
}

#navigation a
{
    padding: 5px 15px;
    text-decoration: none;
    color:#bfbfbf;
}

#navigation a:hover
{
    border: 1px solid steelblue;
}

#header-title
{
    position: absolute;
    bottom: 33%;
}

#get-started a
{
    transition: .5s;
    margin-left: 20px;
    background-color: black;
    color: #898989;
    border: 2px solid #898989;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    border-radius: 15px;
}

#get-started a:hover
{
    color: white;
    border-color: steelblue ;
    background-color: steelblue;
    font-weight: bold;
}

/* HEADER END */

/* SERVICES START */

#services h2
{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

#services .content>p
{
    font-size: 18px;
    text-align: center;
    color: #898989;
    margin-bottom: 40px;
}

.services-card p
{
    text-align: center;
    margin: 0 10px 10px;
    font-size: 14px;
    color: #bfbfbf;
}

.services-card h3
{
    text-align: center;
    margin-bottom: 0;

}

#services .content>div
{
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px;
    gap: 40px;
}

.services-column
{
    box-shadow: 0 0 10px 0 #bfbfbf;
    border-radius: 5px;
}
.services-column:hover
{
    box-shadow: 0 0 10px 0 steelblue;
}

.services-card
{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.services-card img
{
    position: absolute;
    top: 20px;
    left: 125px;
    width: 38px;
    padding: 5px;
    border: 1px solid steelblue;
    border-radius: 5px;
}
.services-card:hover h3
{
    color: steelblue;
}
.services-card img:last-child
{
    visibility: hidden;
}
.services-card:hover img:last-child
{
    visibility: visible;
    background-color: steelblue;
}
/* SERVICES END */

/* ABOUT START */

#about .content
{
    font-size: 18px;
    color: #898989;
    display: grid;
    grid-template-columns: 1fr;
}

#about h2
{
    margin-top: 0;
    color: black;
    font-size: 32px;
}

#about .about-item img
{
    transition: .5s;
    float: left;
    width: 40%;
    margin-bottom: 40px;
    margin-right: 80px;
}
#about .about-item img:hover
{
    width: 50%;
}
#about .about-item:nth-of-type(2) img
{
    margin-left: 80px;
    margin-right: 0;
    float: right;
}

.about-item
{
    margin: 40px 0;
}

.about-item p
{
    text-align: justify;
}

/* ABOUT END */

/* TEAM START */
#team
{
    border-bottom: 2px dashed #898989;
}

#team .content
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}
#team img
{
    border-radius: 5px 5px 0 0;
    width: 100%;
}
#team .content h2
{
    margin-bottom: 0;
    grid-column: 1 / 5;
    text-transform: uppercase;
    font-size: 40px;
}

.team-card
{
    color: #bfbfbf;
    box-shadow: 0 0 10px 0 #bfbfbf;
    border-radius: 5px;
}
.team-card h3
{
    color: black;
    margin-bottom: 0;
}
.team-card h4
{
    margin-top: 0;
    margin-bottom: 0;
    color: #898989;
    font-size: 18px;
}
.team-card p
{
    margin-top: 0;
}
.team-card:hover
{
    box-shadow: 0 0 10px 0 steelblue;
}

.team-card:hover h3
{
    color: steelblue;
}


/* TEAM END */


/* STATS START */

#stats .content
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    column-gap: max(5%, 20px);
}
.stats-card
{
    position: relative;
    text-align: center;
    background-color: #4d4d4d;
}

.stats-card
{
    border-radius: 5px;
}

.stats-card i
{
    position: absolute;
    top: -22px;
    left: 0;
    right: 0;
    width: 32px;
    margin: 0 auto;
    color: steelblue;
    background-color: white;
    padding: 8px;
    border-radius: 50px;
    font-size: 32px;
}

.stats-card h3
{
    color: white;
    margin-bottom: 0;
    margin-top: 42px;
}

.stats-card p
{
    color: #bfbfbf;
}

.stats-card:hover
{
    background-color: steelblue;
    border-radius: 5px;
}

/* STATS END */

/* PRICE START */
#price h2
{
    text-align: center;
    font-size: 40px;
}

#price tbody
{
    color: #898989;
}
#price ul
{
    padding-left: 0;
}
#price ul li
{
    margin-left: 14px; /* marker ma stejnou velikost jako font */
}
#price ul li:first-child
{
    margin-left: 0;
    font-weight: bold;
    list-style: none;
}

#price table
{
    border-collapse: separate;
    border-spacing: 0 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: left;
}
#price td
{
    border-bottom: 1px dotted steelblue;
    border-top: 1px dotted steelblue;
}
#price button
{
    background-color: #f7f7f7;
    border-color: steelblue;
    padding: 20px;
    border-radius: 5px;
    border-width: 1px;
}
#price button:hover
{
    background-color: steelblue;
    color: white;
}
#price tr
{
    border-bottom: 1px dotted #898989;
}
#price tbody tr:hover
{
    color: steelblue;
    background-color: white;
}
/* PRICE END */

/* REFS START */
#refs
{
    border-bottom: 2px dashed #898989;
}
.refs-card blockquote
{
    position: relative;
    background-color: #4d4d4d;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 20px 40px;
    color: white;
}
.refs-card blockquote::before
{
    position: absolute;
    left: 0;
    top: -22px;
    content: '"';
    font-style: italic;
    color: steelblue;
    text-align: left;
    font-size: 100px;
}
.refs-card:first-child blockquote::before
{
    top: -18px;
}

.refs-card blockquote::after
{
    content: " ";
    position: absolute;
    top: 100%;
    left: 10%;
    border: 10px solid;
    border-color: #4d4d4d white white #4d4d4d;
}

#refs .content
{
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
}
.refs-card
{
    display: grid;
    max-width: 400px;
}
.refs-card h3
{
    margin: 10px 0 0 0;
    position: relative;
    color: #898989;
    font-weight: normal;
}
.refs-card:hover blockquote
{
    background-color: steelblue;
    color: white;
}
.refs-card:hover blockquote::after
{
    border-color: steelblue white white steelblue;
}
.refs-card:hover blockquote::before
{
    color: white;
}
.refs-card:hover h3
{
    color: steelblue;
}
.refs-card figure
{
    display: grid;
    grid-template-columns: 80px 1fr;
}
#refs img
{
    width: 60px;
    border-radius: 50px;
}


/* REFS END */

/* CONTACT START */

#contact .content
{
    display: grid;
    text-transform: uppercase;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#contact h2
{
    margin-bottom: 0;
    text-align: center;
    font-size: 40px;
    grid-column: 1 / 3;
}
#map
{
    height: 400px;
}

#contact form
{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    gap:20px;
    grid-template-columns: repeat(4, 1fr);
}


#contact-name
{
    grid-column: 1 / 3;
}
#contact-email
{
    grid-column: 3 / 5;
}
#contact-subject
{
    grid-column: 1 / 5;
}
#contact-message
{
    grid-column: 1 / 5;
}
#contact-submit
{
    background-color: steelblue;
    color: white !important;
    grid-column: 2 / 4;
    justify-content: center;
}
#contact-submit:hover
{
    background-color: green;
}

#contact input, #contact textarea
{
    border-color: steelblue;
    padding: 10px;
    border-radius: 5px;
    color: steelblue;
    font-family: inherit;
    font-size: inherit;
}
#contact input:focus, #contact textarea:focus
{
    outline: 1px solid green;
    border-color: green;
}
#contact input:invalid
{
    color: red;
}
/* CONTACT END */


/* FOOTER START */

#footer .content
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 0;
}
#footer .content span:last-child
{
    text-align: right;
}

#footer
{
    color: #bfbfbf;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: black;
}

#footer a
{
    text-decoration: none;
    color:steelblue;
}

/* FOOTER END */
